body{
	font-family: Arial;
}
#wrapper{
	overflow: hidden;
	display: grid;
}
header{
	text-align: center;
	white-space: nowrap;
}
nav{
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.menu{
	display: inline;
	}
#menubutton{
	font-size: 30px;
	display: none;
}
nav>select{
	width: 10em;
	margin: 1em;
}
main>h2{
	text-align: center;
}
figure{
	padding: 10px;
	border-radius: 10px;
}
footer{
	text-align: center;
}
/* Mobil */
@media screen and (max-width: 480px){
	#wrapper{
		grid-template-columns: 1fr;
	}
	nav{
		flex-direction: column;
		justify-content: flex-start;
	}
	#menubutton{
		display: inline;
	}
	.menu{
		display: none;
	}
	nav>a{
		padding: 10px;
	}
	nav>select{
		margin: 1em;
	}
}
/* surfplatta */
@media screen and (min-width: 480px) and (max-width: 1024px){
	#wrapper{
		grid-template-columns: 1fr 4fr;
		grid-template-rows: auto 4fr auto;
	}
	header{
		grid-column:1/2;
		font-size: 10px;
		padding: 10px;
	}
	nav{
		grid-column: 1/2;
		flex-direction: column;
		justify-content: flex-start;
	}
	.menu{
		display: inline;
	}
	nav>a{
		padding: 10px;
	}
	nav>select{
		margin: 1em;
	}
	main{
		grid-column: 2/3;
		grid-row: 1/4;
	}
	footer{
		grid-column:1/2;
	}
}