header{
	background-color: lightgrey;
	color: black;
}
nav{
	background-color: black;
}
#menubutton{
	color: white;
}
nav>a{
	color: white;
	text-decoration: none;
}
main{
	background-color: lightgrey;
	color: black;
}
figure{
	background-color: white;
}
footer{
	background-color: lightgrey;
	color: black;
}

/* Mobil */
@media screen and (max-width: 480px){
	nav>a{
		border-bottom: 1px solid lightgrey;
	}
}


/* surfplatta */
@media screen and (min-width: 480px) and (max-width: 1024px){
nav>a{
		border-bottom: 1px solid lightgrey;
	}
